/* SVG */
#curve-shape
{
  position: absolute;
  top: 0;
  width: 100%;
}
#curve-shape path
{
  fill: white;
  z-index: -1;
}
#curve-bottom{
    position: absolute;
    bottom: 0px;
    fill:white;
    z-index: -1;
}
/* END OF SVG */

/* LOGO */
#logo{
    font-size:2.5em;
    font-weight: 100;
    color:#54c6eb;
    position: absolute;
    left: 10px;
}
/* END OF LOGO */
html{
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body {
	margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;

}
